ul{
  list-style-type: none;
  padding-left: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

#profile h1{
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

#profile h2{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

#profile img{
  border-radius: 50%;
}

#experience h3{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

#nav-bar{
  background-color: #304145;
  font-family: 'Montserrat', sans-serif;
  padding: 0.4% 0;
}

#profile{
  color: #fff;
}

#experience{
  text-align: center;
}

#projects{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  background-color: #304145;
  color: #fff;
}

#contact{
  text-align: center;
}

#projects-carousel{
  padding: 3%;
}

.info-con{
  background-image: url(../images/banner-blur.png);

  padding: 5%;
}

.exp-con{
  padding-top: 5%;
  padding-bottom: 2%;
}

.exp-header{
  margin-bottom: 2rem;
  color: #304145;
}

.exp-icon:hover{
  color: #BD3147;
}

.exp-icon{
  color: #304145;
  margin-bottom: 1rem;
}

.prj-title{
  margin-bottom: 1rem;
  font-weight: 600;
}

.cntct-icon{
  margin: 2rem;
}

.cntct-title{
  margin-top: 2rem;
}
.description{
  padding-left: 15%;
  padding-right: 15%;
}
