ul{
  list-style-type: none;
  padding-left: 0;
}

#nav-bar{
  background-color: #304145;

}

#profile{
  background-image: url(../images/tempbg.jpg);
}

#experience{
  text-align: center;
}

#projects{
  text-align: center;
  background-color: #304145;
}

.info-con{
  padding: 2%;
}

.exp-con{
  padding-top: 5%;
  padding-bottom: 2%;
}

.exp-header{
  margin-bottom: 2rem;
  color: #304145;
}

.exp-icon{
  color: #304145;
  margin-bottom: 1rem;
}
